{
  # 开启实验性 HTTP/3
  experimental_http3
  # 测试通过的生产环境中去除该项
  # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

your.site.com {
  root * /usr/share/caddy
  tls your@email.com
  encode gzip
  file_server
}