[Unit]
Description=Nezha Dashborad
After=syslog.target
After=network.target
After=mariadb.service mysqld.service postgresql.service memcached.service redis.service

[Service]
Type=simple
#User=root
#Group=root
ExecStart=/usr/bin/nezhas
Restart=always

[Install]
WantedBy=multi-user.target