[Unit]
Description=Nezha Agent
After=syslog.target
After=network.target
After=nezhas.service

[Service]
Type=simple
EnvironmentFile=/etc/nezha/client.conf
ExecStart=/usr/bin/nezhac -i ${nezha_client_id} -p ${nezha_client_secret} -s ${nezha_client_server} -d ${nezha_client_debug}
Restart=always

ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target