[Unit]
Description=trojan-web
Documentation=https://github.com/Jrohy/trojan
After=network.target mysql.service mariadb.service

[Service]
Type=simple
StandardError=journal
ExecStart=/usr/bin/trojan web
ExecReload=/bin/kill -HUP \$MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target